@charset "utf-8";
/* CSS Document */

 * {
    margin: 0;
    padding: 0;
}



body {
    height: 100%;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    
}


/* Nav bar*/
nav {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;  
    width: 100%;
    background-color: #023047;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-size: 1.1em;
}

nav a:hover {
    background-color: #8ecae6
}

/*Typography section */
    
h1{font-size: 2.5em;  color:#003049;}
h2{color:#003049; font-size:2em;}
h3{color:#003049; font-size:1.5em;}
p{color:#003049; font-size:1em;}

img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 2rem 0;
    
}


table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 2em 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {background-color: #023047;
    color: white;}

tr:hover {
    background-color: #8ecae6;
}

ul, ol {
    color: #8ecae6;
    margin: 1em 0 1.5em 2em;
    
}

li {
    margin-bottom: 0.5em;
}

ul ul, ul ol, ol ul, ol ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.color {
  background-color: #e2eafc; 
  padding: 0; 
}


.Nill {
  background-color: white; 
  padding: 0;
}


.color, .Nill {
  width: 100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.inner-content {
  max-width: 1200px; 
  margin: 50px;
  padding:20px 70px; 
}

.inner-content h2, .innter-content p{
    margin-top:10px;
    margin-bottom: 20px;
    
}

#H {
  max-width: 1200px; 
  margin-left:105px;
}


/* Footer*/
footer { 
    background-color: #023047;
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
    position: fixed;
    bottom: 0;}


#footer-text {
    font-size: 0.7em;
    color: #bee9e8;
    letter-spacing: 0.5px;
    text-align: center;
}

.left-image {
    float: left;
    margin: 10px 20px 10px 0;
    width: 350px; 
    height: auto; 
}


